# Questo file dovrà essere rinominato in ".env"

# Connessione tra backend (in Docker) e Neo4j (in esecuzione sul PC host)
NEO4J_URI=bolt://host.docker.internal:7687

# Nome utente Neo4j
NEO4J_USER= neo4j # lo modifichi con il suo nome utente spesso è sempre neo4j

# Password dell'utente Neo4j
NEO4J_PASSWORD= sua_password # lo modifichi con la sua password di neo4j desktop

# Nome del database Neo4j
# Default Neo4j 5: neo4j
NEO4J_DATABASE=neo4j # lo modifichi con il nome del database

# Porta su cui verrà eseguito il backend Node.js
# Default: 3001
PORT=3001