# Backend
backend/node_modules/

# Frontend
frontend/node_modules/

# Build
frontend/build/
backend/dist/

# Env files
.env
.env.*
!.env.template
frontend/.env
backend/.env

# Utility Folder
import
Project Design

# Logs
npm-debug.log*