.people-page {
  padding: 20px 5%;
  background: white;
  box-sizing: border-box;
}


.header {
  margin-bottom: 20px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  margin-top: 5px;
  font-size: 24px;
  color: #666;
}
.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}


.full {
  grid-column: 1 / -1;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 12px;
  margin-bottom: 12px;
}

/* Tablet*/
@media (max-width: 1024px) {
  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 20px;
  }

  .card {
    height: 420px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr); /* 🔥 3 → 2 */
  }
}

/* Telefono */
@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 18px;
  }

  .card {
    height: 340px;
  }

  .grid-3 {
    grid-template-columns: 1fr; 
  }

  .grid-2 {
    grid-template-columns: 1fr; 
  }
}
/* piccoli telefoni */
@media (max-width: 480px) {
  .people-page {
    padding: 15px 4%;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 15px;
  }

  .card {
    height: 280px;
    padding: 8px;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr; 
    gap: 10px;
  }
}